@charset "UTF-8";
@import url("header.css");
@import url("nav.css");

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --brand-color-light: #60A5FA;
    --brand-color-dark: #1D4ED8;
    --bg-color: #0F172A;
    --stroke-color: #1E293B;
    --text-color-primary: #F1F5F9;
    --text-color-secondary: #CBD5E1;
    --font: "Archivo", sans-serif;
    --line-height: 1.44;
    --padding: 20px 32px;
}

h1 {
    font: normal bolder 1.5em var(--font);
    line-height: var(--line-height);
}

h2 {
    font: normal bolder 1em var(--font);
    line-height: var(--line-height);
}

h3 {
    font: normal bolder .875em var(--font);
    line-height: var(--line-height);
}

span,
a {
    font: normal 600 .875em var(--font);
    line-height: var(--line-height);
}

p {
    font: normal 400 .875em var(--font);
    line-height: var(--line-height);
}


body{
    background-color: var(--bg-color);
    display: grid;
    grid-template:
    "header"
    "nav" 
    "section section";
    grid-area: header;
    grid-area: nav;
}