@charset "UTF-8";

nav{
    min-height: 48px;
    max-height: auto;
    padding: 14px;
    border: 1px solid var(--stroke-color);
    border-inline: none;
    margin-bottom: 40px;
    padding: var(--padding);
}

nav>ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav>ul>li>a{
    color: var(--text-color-secondary);
}

nav>ul>li>a:hover{
    color: var( --brand-color-light);
    transition: .3s ease-in;
}