@charset "UTF-8";
section{
    display: grid;
}
.card{
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    &::before{
        content: "";
        position: absolute;
        inset: 0;
        top: 50%;
        background-image: linear-gradient(180deg, transparent 0%, #020617);
    }
    figcaption{
        position: absolute;
        bottom: 0;
        padding: 24px;
        color: var(--text-color-primary);
        &:has(.text-lg){
            padding: 12px;
        }
    }

    span{
        display: inline-block;
        background-color: var(--brand-color-dark);
        padding: 8px;
        border-radius: var(--border-radius);
        text-transform: uppercase;
    }
}

.mais-lidas-da-semana{
    align-items: center;
}